streamlit
langchain
langchain-community
faiss-cpu
sentence-transformers
ollama
python-dotenv
pymupdf
pdfplumber
langchain-ollama
torchvision
langchain-huggingface
docx2txt
python-docx
langchain-classic   
flashrank
rank-bm25